<?xml version="1.0" encoding="UTF-8"?>
<!-- set description and name here; does not need to match others-->
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="ASH PowerSchool Integrations Export"
		name="ASH PowerSchool Integrations Export"
		version="0.0.0.20231215"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="PowerSchool Manager">
		<contact email="powerschool@ash.nl"/>
	</publisher>
</plugin>