<?xml version="1.0" encoding="UTF-8"?>
<!-- set description and name here; does not need to match others-->
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="BrightSpace export: 07_Users for Inactive parents for grades 5-13 com.txoof.brightspace.parents.mother_inactive or .father_inactive"
		name="BSpace 07-User Parents Inactive Expt"
		version="1.0.0.2020311"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="Aaron Ciuffo">
		<contact email="aaron.ciuffo@gmail.com"/>
	</publisher>
	
</plugin>