<?xml version="1.0" encoding="UTF-8"?>
<!-- set description and name here; does not need to match others-->
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="BrightSpace export: 07_Users for active Teachers in MS, HS"
		name="BrightSpace 07-User Teachers Export"
		version="0.0.3.220223"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="Aaron Ciuffo">
		<contact email="aaron.ciuffo@gmail.com"/>
	</publisher>
	
</plugin>