<?xml version="1.0" encoding="UTF-8"?>
<!-- set description and name here; does not need to match others-->
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		description="BrightSpace User and Enrolment Export (Users, Enrollment) see https://github.com/txoof/PowerQuery"
		name="BrightSpace User, Enrollment Export"
		version="1.2.17.20220516"
		xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
		
	<publisher name="Aaron Ciuffo">
		<contact email="aaron.ciuffo@gmail.com"/>
	</publisher>
</plugin>